{% extends "auctions/layout.html" %}

{% block body %}

<div class="titleBar">
    <h3>Auction</h3>
    <i class="bi bi-bookmark-fill"></i>
    <h4>Active Listings</h4>
</div>
<h3 class="paddingLeft">{{ title }}</h3>

<div id="active_listings" class="grid">

    {% for listing in listings %}
    <a class="card" href="{% url 'listing' listing.id %}">
        {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" loading="lazy">
        {% endif %}
        <!-- <h5>{{ listing.title }}</h5> -->
        <p class="price"><strong>Price:</strong> ${{ listing.price }}</p>

        <p class="body">{{ listing.description }}</p>

        {% if listing.created_in_days %}
        <p class="datetime">{{ listing.created_in_days }} {{ listing.creation_time|date:'h:i A' }}</p>
        {% else %}
        <p class="datetime"><small class="text-muted">{{ listing.creation_time|date:"SHORT_DATETIME_FORMAT" }}</small>
        </p>
        {% endif %}
    </a>
    {% empty %}
    No active listings.
    {% endfor %}
</div>
{% endblock %}