{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ title }}</h2>
<div class="grid">
    {% for listing in listings %}
    <a class="card" title="{{listing.title }}" href="{% url 'listing' listing.id %}">
        {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" loading="lazy">
        {% endif %}
        <!-- <h5>{{ listing.title }}</h5> -->
        <p><strong>Price:</strong> ${{ listing.price }}</p>
        {% if listing.category %}
        <p><strong>Category:</strong> {{ listing.category }}</p>
        {% endif %}
        <p>{{ listing.description }}</p>
        <p><small class="text-muted">Posted {{ listing.creation_time|date:'m/d/y h:iA' }}</small></p>
    </a>
    {% empty %}
    No active listings.
    {% endfor %}
</div>
{% endblock %}