{% extends "auctions/layout.html" %}

{% block body %}
<div class="titleBar">
    <h3>Auction</h3>
    <i class="bi bi-bookmark-fill"></i>
    <h4>Register</h4>
</div>

<div id="register">
    <h2>Register <i class="bi bi-bookmark-fill"></i></h2>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>

    Already have an account? <br> <a href="{% url 'login' %}">Log In here.</a>
</div>

{% endblock %}