:root {
  --drkGrey: #212529;
  --wthNoSide: calc(1420px - 280px);
  --blue: #0d6efd;
  --orange: #ffa41d;
  --lighterGrey: #242f3e;
  --background: rgb(219, 218, 218);
  --lightText: #565959;
  --titleBar: #242f3e;
}

* {
  box-sizing: border-box;
}

/* GLOBALS */
.grid {
  display: grid;
  padding: 16px;
  gap: 16px;
  background-color: #fff;
  align-content: flex-start;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ededed;
}

body img {
  object-fit: scale-down;
  border-radius: 2px;
}

body i {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: var(--drkGrey);
}

body h2,
body h5,
body p {
  margin: 0;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

main #sidenav {
  /* flex for nav items */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  width: 230px;
  background-color: var(--drkGrey);
  padding: 16px;
}

main #sidenav i.collapse {
  color: #ffa41d;
  position: relative;
  right: -190px;
  top: -8px;
}

main #sidenav i.collapse:hover,
main #sidenav .collapse:active {
  color: var(--orange);
  font-weight: bolder;
}

main #sidenav .title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 32px;
  width: 100%;
  margin-bottom: 8px;
}

main #sidenav .title h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  color: white;
}

main #sidenav .title i {
  font-size: 20px;
  align-self: flex-start;
  color: var(--blue);
  text-shadow: #ffa41d 0px 4px 0px, yellow 0px 7px 0px;
}

main #sidenav hr {
  border-top: none;
  border-width: 1px;
  opacity: 0.25;
  margin: 16px 0;
}

main #sidenav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
}

main #sidenav ul li:hover {
  border-radius: 4px;
  background-color: var(--blue);
  font-size: 16px;
}

main #sidenav ul li a {
  padding: 10px 16px;
  display: block;
  color: white;
}

main #sidenav ul li span {
  color: var(--orange);
  position: relative;
  left: -95px;
  font-size: 11px;
  top: -3px;
  font-weight: bold;
}

main #sidenav .log-info strong {
  color: var(--orange);
}

main #sidenav .log-info {
  align-self: flex-end;
  color: white;
}

main #sidenav .log-info i {
  color: white;
}

main #content {
  color: var(--drkGrey);
  background-color: var(--background);
  width: 100%;
  max-width: var(--wthNoSide);
  height: 100vh;
  overflow: scroll;
  background-color: white;
}

main #content .titleBar {
  display: flex;
  height: 32px;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  background-color: #242f3e;
  padding: 0 16px;
}

main #content .titleBar i {
  display: none;
  color: var(--blue);
  text-shadow: #ffa41d 0px 4px 0px, yellow 0px 7px 0px;
  position: relative;
  top: -6px;
}

main #content .titleBar h3 {
  display: none;
  font-weight: normal;
}

main #content .titleBar h4 {
  font-weight: normal;
  flex-grow: 1;
  font-size: 12px;
}

main #content #active_listings {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-start: auto;
}

main #content #active_listings h2 {
  display: none;
}

main #content #active_listings .card {
  background-color: #fff;
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 4px;
  height: 280px;
  margin: 0;
  max-width: 170px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #content #active_listings .card img {
  height: 130px;
  width: 150px;
}

main #content #active_listings .card h5 {
  display: none;
}

main #content #active_listings .card .price {
  align-self: flex-start;
  padding-top: 16px;
}

main #content #active_listings .card .body {
  padding-top: 16px;
  align-self: flex-start;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* two line */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

main #content #active_listings .card .datetime {
  font-size: 10px;
  color: #969696;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  flex-grow: 1;
}

main #content #active_listings .card:hover {
  border: 1px solid rgba(51, 51, 51, 0.5);
  box-shadow: 1px 1px 5px var(--blue);
}

main #content #active_listings .card:hover > img {
  transform: scale3d(1.1, 1.1, 1);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: transform;
}

main #content #active_listings .card:hover h5 {
  display: block;
}

main #content #active_listings .card[title]:hover::after {
  background-color: var(--blue);
  color: white;
}

main #content #listings {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  justify-items: stretch;
  padding: 16px;
}

main #content #listings li,
main #content #listings p {
  font-size: 16px;
  line-height: 1.5em;
}

main #content #listings p {
  padding: 16px;
}

main #content #listings .feature {
  height: 350px;
  padding: 16px;
  overflow: hidden;
  z-index: 1;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

main #content #listings .info {
  color: #565959;
  padding: 8px;
  display: flex;
  flex-direction: column;
  color: var(--lighterGrey);
}

main #content #listings .info h2 i {
  color: var(--orange);
  font-size: 25px;
  text-shadow: yellow 0px 7px 0px, black 3px 6px 9px;
}

main #content #listings .info small {
  align-self: flex-end;
  width: 100%;
  color: var(--orange);
}

main #content #listings .info .details ul {
  padding: 0;
  color: var(--lightText);
}

main #content #listings .info .watchlist input {
  background-color: transparent;
  border: none;
  color: var(--blue);
  position: relative;
  top: -200px;
  right: -230px;
  font-size: 12px;
  text-align: right;
  width: 100px;
}

main #content #listings .info .close_or_bid form input[type="number"] {
  float: left;
  padding: 8px;
  margin: 0 8px 8px 0;
}

main #content #listings .info .close_or_bid form input[type="submit"] {
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: white;
}

main #content #listings .desc {
  grid-row: 2/3;
  grid-column: span 2;
}

main #content #listings .comments {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  grid-row: span 4;
  height: 100vh;
  padding: 0 16px;
}

main #content #listings .comments h4 {
  color: #565959;
}

main #content #listings .comments form {
  align-self: center;
  background-color: white;
}

main #content #listings .comments ul {
  background-color: white;
}

main #content #create_listing {
  padding: 16px;
  width: 350px;
  height: 700px;
  background-color: #565959;
  color: white;
}

main #content #create_listing form {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

main #content #create_listing form label {
  padding: 8px;
}

main #content #create_listing form input,
main #content #create_listing form textarea,
main #content #create_listing form select {
  padding: 8px;
  border-radius: 4px;
}

main #content #create_listing form input[type="submit"] {
  margin-top: 16px;
  background-color: var(--orange);
}

main #content #category h2 {
  padding: 16px;
}

main #content #category li {
  float: left;
  border: 1px solid #565959;
  border-radius: 50px;
  padding: 8px;
  max-width: 200px;
  text-align: center;
  margin: 0 16px 16px 0;
}

main #content #category li:hover {
  background-color: #ffa41d;
  border: 1px solid #ffa41d;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

main #content #category li a:hover {
  color: white;
  display: block;
}

@media only screen and (max-width: 800px) {
  body main #content #listings .desc {
    grid-row: 3/4;
    grid-column: span 1;
  }
}
