:root {
  --drkGrey: #212529;
  --wthNoSide: calc(1420px - 280px);
  --blue: #0d6efd;
  --orange: #ffa41d;
  --lighterGrey: #242f3e;
  --background: rgb(219, 218, 218);
  --lightText: #565959;
  --titleBar: #242f3e;
}

* {
  box-sizing: border-box;
}

/* GLOBALS */
.grid {
  display: grid;
  padding: 16px;
  gap: 16px;
  background-color: #fff;
  align-content: flex-start;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ededed;
}

body img {
  object-fit: scale-down;
  border-radius: 2px;
}

body i {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: var(--drkGrey);
}

body h2,
body h5,
body p {
  margin: 0;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

main #sidenav {
  /* flex for nav items */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  width: 230px;
  background-color: var(--drkGrey);
  padding: 16px;
}

main #sidenav i.collapse {
  color: #ffa41d;
  position: relative;
  right: -190px;
  top: -8px;
}

main #sidenav i.collapse:hover,
main #sidenav .collapse:active {
  color: var(--orange);
  font-weight: bolder;
}

main #sidenav .title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 32px;
  width: 100%;
  margin-bottom: 8px;
}

main #sidenav .title h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  color: white;
}

main #sidenav .title i {
  font-size: 20px;
  align-self: flex-start;
  color: var(--blue);
  text-shadow: #ffa41d 0px 4px 0px, yellow 0px 7px 0px;
}

main #sidenav hr {
  border-top: none;
  border-width: 1px;
  opacity: 0.25;
  margin: 16px 0;
}

main #sidenav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
}

main #sidenav ul li:hover {
  border-radius: 4px;
  background-color: var(--blue);
  font-size: 16px;
}

main #sidenav ul li a {
  padding: 10px 16px;
  display: block;
  color: white;
}

main #sidenav ul li span {
  color: var(--orange);
  position: relative;
  left: -95px;
  font-size: 11px;
  top: -3px;
  font-weight: bold;
}

main #sidenav .log-info {
  align-self: flex-end;
  color: white;
}

main #sidenav .log-info i {
  color: white;
}

main #content {
  color: var(--drkGrey);
  background-color: var(--background);
  width: 100%;
  max-width: var(--wthNoSide);
  height: 100vh;
  overflow: scroll;
  background-color: white;
}

main #content li,
main #content p {
  font-size: 16px;
  line-height: 1.5em;
}

main #content p {
  padding: 16px;
}

main #content .titleBar {
  display: flex;
  height: 32px;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  background-color: #242f3e;
  padding: 0 16px;
}

main #content .titleBar i {
  display: none;
  color: var(--blue);
  text-shadow: #ffa41d 0px 4px 0px, yellow 0px 7px 0px;
  position: relative;
  top: -6px;
}

main #content .titleBar h3 {
  display: none;
  font-weight: normal;
}

main #content .titleBar h4 {
  font-weight: normal;
  flex-grow: 1;
  font-size: 12px;
}

main #content #active_listings {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

main #content #active_listings h2 {
  display: none;
}

main #content #active_listings .card {
  height: 280px;
  padding: 16px;
  max-width: 180px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(200, 200, 200, 0.5);
}

main #content #active_listings .card img {
  height: 130px;
  width: 150px;
}

main #content #active_listings .card h5 {
  display: none;
}

main #content #active_listings .card .price {
  align-self: flex-start;
  padding-top: 16px;
}

main #content #active_listings .card .body {
  padding-top: 16px;
  align-self: flex-start;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* two line */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

main #content #active_listings .card .datetime {
  font-size: 10px;
  color: #969696;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  flex-grow: 1;
}

main #content #active_listings .card:hover {
  border: 1px solid rgba(51, 51, 51, 0.5);
  box-shadow: 1px 1px 5px var(--blue);
}

main #content #active_listings .card:hover > img {
  transform: scale3d(1.1, 1.1, 1);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: transform;
}

main #content #active_listings .card:hover h5 {
  display: block;
}

main #content #active_listings .card[title]:hover::after {
  background-color: var(--blue);
  color: white;
}

main #content #listings {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  justify-items: stretch;
  padding: 16px;
}

main #content #listings .feature {
  height: 350px;
  padding: 16px;
  overflow: hidden;
  z-index: 1;
  object-fit: scale-down;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

main #content #listings .info {
  color: #565959;
  padding: 8px;
  display: flex;
  flex-direction: column;
  color: var(--lighterGrey);
}

main #content #listings .info small {
  align-self: flex-end;
  width: 100%;
  color: var(--orange);
}

main #content #listings .info .details ul {
  padding: 0;
  color: var(--lightText);
}

main #content #listings .desc {
  grid-row: 2/3;
  grid-column: span 2;
}

main #content #listings .comments {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  grid-row: span 20;
  height: 100vh;
  padding: 0 16px;
}

main #content #listings .comments h4 {
  color: #565959;
}

main #content #listings .comments form {
  align-self: center;
  background-color: white;
}

@media only screen and (max-width: 800px) {
  body main #content #listings .desc {
    grid-row: 3/4;
    grid-column: span 1;
  }
}
