:root {
	--h1icon: 32px;
	--drkGrey: #212529;
	--wthNoSide: calc(1420px - 280px);
  --blue:#0d6efd;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* GLOBALS */
img {
	object-fit: scale-down;
	height: 130px;
	border-radius: 2px;
	width: 150px;
}
i {
	font-size: 16px;
	height: 16px;
	width: 16px;
	margin-right: 8px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--drkGrey);
}
h2,
h5,
p {
	margin: 0;
}

/* MAIN */
main {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 280px 1fr 1fr;
}

/* SIDENAV */
main #sidenav {
	grid-column: 2/3;
	background-color: var(--drkGrey);
	color: white;
	padding: 16px;
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
}
/* title */
main #sidenav .title {
	display: flex;
	/* justify-content: flex-start; */
	align-items: flex-end;
	height: 32px;
	width: 100%;
	margin-bottom: 8px;
}
main #sidenav .title i {
	font-size: var(--h1icon);
	height: var(--h1icon);
	width: var(--h1icon);
}
main #sidenav .title h1 {
	font-size: 25px;
	font-weight: normal;
	margin: 0;
}
/* hr */
main #sidenav hr {
	border-top: none;
	border-width: 1px;
	opacity: 0.25;
	margin: 16px 0;
}
/* nav */
main #sidenav .nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	cursor: pointer;
}
main #sidenav .nav li {
	/* background-color: yellow; */
	border-radius: 4px;
}
main #sidenav .nav li:hover {
	background-color: var(--blue);
	font-size: 16px;
}
main #sidenav .nav li a {
	padding: 10px 16px;
	display: block;
}

main #sidenav .nav li a,
main #sidenav .log-info i {
	color: white;
}

main #sidenav .log-info {
	align-self: flex-end;
}
/* END of SIDENAV */

/* CONTENT - Dynamic */
#content {
	grid-column: 3/4;
	color: var(--drkGrey);
	background-color: #dbdbdb;
	max-width: var(--wthNoSide);
}
#content h2{
 color: white;
 text-align: center;
 text-shadow: 0px 0px 5px rgb(129, 129, 129);
}
/* Grid card active listings */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	padding: 16px;
	gap: 16px;
	/* background-color: rgb(116, 121, 136); */
	max-width: var(--wthNoSide);
}
.card {
	height: 280px;
	padding: 16px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgba(200, 200, 200, 0.5);
}
.card:hover {
	border: 1px solid rgba(51, 51, 51, 0.5);
	box-shadow: 1px 1px 5px var(--blue);
}
.card:hover > img {
	transform: scale3d(1.1, 1.1, 1);
	transition-duration: 5s;
	transition-timing-function: ease;
	transition-property: transform;
}
.card:hover h5 {
	display: block;
}

.card[title]:hover::after{
  background-color: royalblue;
  color:white;
}
.card h5 {
	display: none;
}
/* price */
.card .price {
  align-self:flex-start;
  padding-top: 16px;
}
/* body text */
.card .body {
  padding-top: 16px;
  align-self:flex-start;
	font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* two line */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card .datetime {
	font-size: 10px;
	color: rgb(150, 150, 150);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-self: flex-end;
	flex-grow: 1;
}


/* AT MEDIA  */
@media only screen and (max-width: 960px) {
	/* styles for browsers larger than 960px; */
	body {
		background-color: pink;
	}
  main {
    grid-template-columns: 280px 1fr;
  }
  main #sidenav {
    grid-column: 1/2;
  }
  main #content {
    grid-column: 2/3;
  }
  .grid {
    min-width: none;
    max-width: none;
  }
@media only screen and (min-width: 1440px) {
	/* styles for browsers larger than 1440px; */
	body {
		background-color: orange;
	}
}
@media only screen and (min-width: 2000px) {
	/* for sumo sized (mac) screens */
	body {
		background-color: yellow;
	}
}
@media only screen and (max-device-width: 480px) {
	/* styles for mobile browsers smaller than 480px; (iPhone) */
	body {
		background-color: green;
	}
}
@media only screen and (device-width: 768px) {
	/* default iPad screens */
	body {
		background-color: blue;
	}
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* For landscape layouts only */
}
