:root {
	--drkGrey: #212529;
	--wthNoSide: calc(1420px - 280px);
	--blue: #0d6efd;
	--orange: #ffa41d;
	--lighterGrey: #242f3e;
	--background: rgb(219, 218, 218);
	--lightText: #565959;
	--titleBar: #242f3e;
}

* {
	box-sizing: border-box;
}

/* GLOBALS */
// Base grid for all pages

.grid {
	display: grid;
	padding: 16px;
	gap: 16px;
	background-color: #fff;
	// height: 100vh;
	align-content: flex-start;
	// overflow: scroll;
}

body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #ededed;
	img {
		object-fit: scale-down;
		border-radius: 2px;
	}
	i {
		font-size: 16px;
		height: 16px;
		width: 16px;
		margin-right: 8px;
	}
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: var(--drkGrey);
	}
	h2,
	h5,
	p {
		margin: 0;
	}
}

/* MAIN */
main {
	display: flex;
	justify-content: center;
	align-items: stretch;

	#sidenav {
		/* flex for nav items */
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		height: 100vh;
		width: 230px;
		background-color: var(--drkGrey);
		padding: 16px;
		i.collapse {
			color: white;
			position: relative;
			right: -190px;
			top: -8px;
			color: var(--orange);
			font-weight: bolder;
			z-index: 999;
			border-radius: 2px;
		}

		.title {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			height: 32px;
			width: 100%;
			margin-bottom: 8px;

			h1 {
				font-size: 25px;
				font-weight: normal;
				margin: 0;
				color: white;
			}
			i {
				font-size: 20px;
				align-self: flex-start;
				color: var(--blue);
				text-shadow: #ffa41d 0px 4px 0px, yellow 0px 7px 0px;
			}
		}
		hr {
			border-top: none;
			border-width: 1px;
			opacity: 0.25;
			margin: 16px 0;
		}
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			cursor: pointer;
			li:hover {
				border-radius: 4px;
				background-color: var(--blue);
				font-size: 16px;
			}
			li a {
				padding: 10px 16px;
				display: block;
				color: white;
			}
			li span {
				color: var(--orange);
				position: relative;
				left: -95px;
				font-size: 11px;
				top: -3px;
				font-weight: bold;
			}
		}
		.log-info strong {
			color: var(--orange);
		}
		.log-info {
			align-self: flex-end;
			color: white;
			i {
				color: white;
			}
		}
		.log-info a {
			color: white;
		}
	}

	#content {
		color: var(--drkGrey);
		background-color: var(--background);
		width: 100%;
		max-width: var(--wthNoSide);
		height: 100vh;
		overflow: scroll;
		background-color: white;

		.titleBar {
			display: flex;
			height: 32px;
			color: #fff;
			justify-content: flex-end;
			align-items: center;
			background-color: #242f3e;
			padding: 0 16px;
			// z-index: 99;
			i {
				display: none;
				color: var(--blue);
				text-shadow: #ffa41d 0px 4px 0px, yellow 0px 7px 0px;
				position: relative;
				top: -6px;
			}
			h3 {
				display: none;
				font-weight: normal;
			}
			h4 {
				font-weight: normal;
				flex-grow: 1;
				font-size: 12px;
			}
			// small{
			// }
		}

		#active_listings {
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			h2 {
				display: none;
			}
			.card {
				background-color: #fff;
				border: 1px solid rgba(200, 200, 200, 0.5);
				border-radius: 4px;
				height: 280px;
				margin: 0;
				max-width: 170px;
				padding: 16px;
				display: flex; // Inner
				flex-direction: column;
				align-items: center;
				img {
					height: 130px;
					width: 150px;
				}
				h5 {
					display: none;
				}
				.price {
					align-self: flex-start;
					padding-top: 16px;
				}
				.body {
					padding-top: 16px;
					align-self: flex-start;
					font-size: 12px;
					text-overflow: ellipsis;
					overflow: hidden;
					/* two line */
					display: -webkit-box !important;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					white-space: normal;
				}
				.datetime {
					font-size: 10px;
					color: rgb(150, 150, 150);
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-self: flex-end;
					flex-grow: 1;
				}
			}
			.card:hover {
				border: 1px solid rgba(51, 51, 51, 0.5);
				box-shadow: 1px 1px 5px var(--blue);
				> img {
					transform: scale3d(1.1, 1.1, 1);
					transition-duration: 0.5s;
					transition-timing-function: ease;
					transition-property: transform;
				}
				h5 {
					display: block;
				}
			}
			.card[title]:hover::after {
				background-color: var(--blue);
				color: white;
			}
		}

		#listings {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			align-items: flex-start;
			justify-items: stretch;
			// grid-auto-flow: dense;
			padding: 16px;
			li,
			p {
				font-size: 16px;
				line-height: 1.5em;
			}
			p {
				padding: 16px;
			}
			.feature {
				height: 350px;
				// width: 100%;
				padding: 16px;
				overflow: hidden;
				z-index: 1;
				object-fit: scale-down;
				display: flex; // Inner flex
				justify-content: center;
				align-items: center;
				background-color: #eee;
			}

			.info {
				color: #565959;
				padding: 8px;
				display: flex; // Inner
				flex-direction: column;
				color: var(--lighterGrey);
				h2 i {
					color: var(--orange);
					font-size: 25px;
					text-shadow: yellow 0px 7px 0px, black 3px 6px 9px;
				}
				small {
					align-self: flex-end;
					width: 100%;
					color: var(--orange);
				}
				.details {
					ul {
						padding: 0;
						color: var(--lightText);
					}
				}
				.watchlist input {
					background-color: transparent;
					border: none;
					color: var(--blue);
					position: relative;
					top: -200px;
					right: -230px;
					font-size: 12px;
					text-align: right;
					width: 100px;
				}
				.close_or_bid form {
					input[type="number"] {
						float: left;
						padding: 8px;
						margin: 0 8px 8px 0;
					}
					input[type="submit"] {
						background-color: var(--blue);
						border: none;
						border-radius: 4px;
						padding: 8px;
						color: white;
					}
				}
			}
			.desc {
				grid-row: 2/3;
				grid-column: span 2;
			}
			.comments {
				background-color: #eee;
				display: flex; // Inner flex
				flex-direction: column;
				overflow: scroll;
				grid-row: span 4;
				height: 100vh;
				padding: 0 16px;
				h4 {
					color: #565959;
				}
				form {
					align-self: center;
					background-color: white;
				}
				ul {
					background-color: white;
				}
			}
		}
		#create_listing {
			padding: 16px;
			margin: 0 auto;
			max-width: 400px;
			height: 700px;
			background-color: var(--background);
			border: 1px solid #aaa;
			form {
				display: flex;
				flex-direction: column;
				// justify-content: flex-start;
				// align-items: center;
				padding: 8px;
			}
			form label {
				padding: 8px;
			}
			form input,
			form textarea,
			form select {
				padding: 8px;
				border-radius: 4px;
				border: 1px solid #aaa;
			}

			form input[type="submit"] {
				margin-top: 16px;
				background-color: var(--orange);
			}
		}
		#category {
			h2 {
				padding: 16px;
			}
			li {
				float: left;
				border: 1px solid #565959;
				border-radius: 50px;
				padding: 8px;
				max-width: 200px;
				text-align: center;
				margin: 0 16px 16px 0;
			}
			li:hover {
				background-color: #ffa41d;
				border: 1px solid #ffa41d;
				cursor: pointer;
				font-weight: bold;
				color: white;
			}
			li a:hover {
				color: white;
				display: block;
			}
		}
		#login,
		#register {
			margin: 0 auto;
			background-color: #ddd;
			max-width: 300px;
			padding: 0 16px;
			border-radius: 6px;
			margin-bottom: 8px;
			h2 {
				padding: 16px;
			}
			form {
				display: flex;
				flex-direction: column;
			}
			form input {
				border: none;
				padding: 16px;
				width: 100%;
				border-radius: 4px;
				margin-bottom: 16px;
			}
			form input[type="submit"] {
				width: 50%;
				align-self: flex-end;
				background-color: var(--blue);
				color: white;
			}
			form a {
				color: var(--orange);
			}
		}
	}
}
@media only screen and (max-width: 800px) {
	body main #content #listings .desc {
		grid-row: 3/4;
		grid-column: span 1;
	}
}
